# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp
*.log

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
.DS_Store
.tmp*

.config/yandex-cloud
.config/gh/hosts.y*ml
.config/k9s/clusters
.secrets.sh

**/*/auth.json
**/*/sessions

.codex/*
!.codex/config.toml
!.codex/rules

.pi/agents

.config/composer
.config/zed/prompts
.config/zed/conversations

*.app

.config/intelephense

.idea