[user]
	name = Nikita Elfimov
	email = nelfimov@mail.ru
	signingkey = 4FA7C101D610677A
[commit]
	gpgsign = true
[push]
	autoSetupRemote = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[alias]
  # git switch master && git pull && git branch -d PREVIOUS_BRANCH
  ; bda = "!f() { current_branch=$(git symbolic-ref --short HEAD); git switch master && git pull && git branch -d \"$current_branch\"; }; f"
  bda = "!f() { \
    current_branch=$(git symbolic-ref --short HEAD); \
    default_branch=$(git symbolic-ref refs/remotes/origin/HEAD | sed 's|^refs/remotes/origin/||'); \
    git switch \"$default_branch\" && git pull; \
    if [ \"$current_branch\" != \"$default_branch\" ]; then \
      git branch -d \"$current_branch\"; \
    fi; \
  }; f"

  s = status -s

  l = pull

  a = add

  aa = add --all

  cm = commit -m

  cma = commit --all -m

  cb = checkout -b 

  p = push

  pf = push --force-with-lease

  d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"

  aliases = config --get-regexp alias
  
  # Remove branches that have already been merged with main.
	# a.k.a. ‘delete merged’
	dm = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"

[color]
	ui = auto

[help]
	# Automatically correct and execute mistyped commands.
	autocorrect = 1
[init]
	defaultBranch = master
[gpg]
	program = /opt/homebrew/bin/gpg
