[user]
	name = Nikita Elfimov
	email = nelfimov@mail.ru
  signingkey = ~/.ssh/github.pub

[commit]
  gpgsign = true

[push]
	autoSetupRemote = true
	recurseSubmodules = on-demand

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[alias]
  # Resign commits which have been merged via rebase. $1 is commit BEFORE (not including) which you want to resign
  resign = "!f() { git rebase --exec 'git commit --amend --no-edit -n -S' -i \"$1\"; }; f"

  s = status -s

  d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --output-indicator-new=' ' --output-indicator-old=' ' --patch-with-stat"

  aliases = config --get-regexp alias

[color]
  ui = auto
  status = auto
  branch = auto

[help]
  autocorrect = 1

[init]
	defaultbranch = master

[gpg]
	format = ssh

[diff]
  tool = vimdiff
  context = 3

[merge]
  tool = vimdiff
  conflictstyle = zdiff3
  ff = only

[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $BASE $REMOTE $MERGED \
          -c '$wincmd w' -c 'wincmd J'

[core]
	editor = nvim
  compression = 9
  whitespace = error
  preloadindex = true
  excludesfile = /Users/nelfimov/.gitignore.global
  autocrlf = input

[submodule]
	recurse = true

[status]
  branch = true
  showstash = true
  showuntrackedfiles = all

[rerere]
  enabled = true

[fetch]
	prune = true
