" IdeaVim configuration for JetBrains IDEs.
" Generic Vim behavior lives in ~/.vimrc; this file only contains RubyMine /
" IdeaVim-specific plugins, actions, tool windows, and compatibility aliases.

source ~/.vimrc

" IdeaVim plugins.
set commentary
set surround
set easymotion
set ideajoin
set matchit
set which-key
set keep-english-in-normal

" IdeaVim / JetBrains behavior.
set clipboard+=unnamed

" Project/file tree navigation. <Down>/<Up> works both in editor buffers and
" JetBrains tree/list components, while plain j/k sometimes requires Ctrl.
nmap j <Down>
nmap k <Up>
nmap о <Down>
nmap л <Up>

" Insert-mode JetBrains completion.
inoremap <C-n> <C-o>:action CodeCompletion<CR>

" Window sizing.
nmap <C-Up> <Action>(IncrementWindowHeight)
nmap <C-Down> <Action>(DecrementWindowHeight)
nmap <C-Left> <Action>(DecrementWindowWidth)
nmap <C-Right> <Action>(IncrementWindowWidth)
nmap <leader>wd <Action>(CloseContent)
nmap <leader>wm <Action>(ToggleDistractionFreeMode)
nmap <C-z> <Action>(ToggleDistractionFreeMode)

" Moving lines.
nmap <A-j> <Action>(MoveLineDown)
nmap <A-k> <Action>(MoveLineUp)
imap <A-j> <Esc><Action>(MoveLineDown)i
imap <A-k> <Esc><Action>(MoveLineUp)i

" Editor tabs and buffers.
nmap <S-h> <Action>(PreviousTab)
nmap <S-l> <Action>(NextTab)
nmap [b <Action>(PreviousTab)
nmap ]b <Action>(NextTab)
nmap <leader>bd <Action>(CloseContent)
nmap <leader>bD <Action>(CloseContent)
nmap <leader>bo <Action>(CloseAllEditorsButActive)
nmap <leader>bl <Action>(CloseAllToTheLeft)
nmap <leader>bp <Action>(PinActiveTabToggle)
nmap <leader>bP <Action>(CloseAllUnpinnedEditors)
nmap <leader>br <Action>(CloseAllToTheRight)
nmap <leader>be <Action>(ActivateProjectToolWindow)
nmap <leader>, <Action>(Switcher)

" Files, project, and search. These correspond to LazyVim picker groups.
nmap <leader><Space> <Action>(GotoFile)
nmap <leader>ff <Action>(GotoFile)
nmap <leader>fF <Action>(GotoFile)
nmap <leader>fg <Action>(GotoFile)
nmap <leader>fr <Action>(RecentFiles)
nmap <leader>fR <Action>(RecentFiles)
nmap <leader>fb <Action>(Switcher)
nmap <leader>fn <Action>(NewElementSamePlace)
nmap <leader>fc <Action>(FindWordAtCaret)
nmap <leader>fz <Action>(FindInPath)
nmap <leader>/ <Action>(FindInPath)
nmap <leader>e <Action>(ActivateProjectToolWindow)
nmap <leader>E <Action>(SelectInProjectView)
nmap <leader>fe <Action>(ActivateProjectToolWindow)
nmap <leader>fE <Action>(SelectInProjectView)

" Search group.
nmap <leader>sb <Action>(Switcher)
nmap <leader>sC <Action>(GotoAction)
nmap <leader>sd <Action>(ActivateProblemsViewToolWindow)
nmap <leader>sD <Action>(ActivateProblemsViewToolWindow)
nmap <leader>sg <Action>(FindInPath)
nmap <leader>sG <Action>(FindInPath)
nmap <leader>sh <Action>(HelpTopics)
nmap <leader>sH <Action>(HighlightUsagesInFile)
nmap <leader>sj <Action>(RecentLocations)
nmap <leader>sl <Action>(ActivateProblemsViewToolWindow)
nmap <leader>sM <Action>(ShowDocumentation)
nmap <leader>so <Action>(ShowSettings)
nmap <leader>sq <Action>(ActivateProblemsViewToolWindow)
nmap <leader>ss <Action>(GotoSymbol)
nmap <leader>sS <Action>(GotoClass)
nmap <leader>sw <Action>(FindWordAtCaret)
nmap <leader>sW <Action>(FindWordAtCaret)
vmap <leader>sw <Action>(FindWordAtCaret)
vmap <leader>sW <Action>(FindWordAtCaret)
nmap <leader>st oTODO<Esc>gcc

" Code actions, formatting, diagnostics, and navigation.
nmap <leader>cf <Action>(ReformatCode)
vmap <leader>cf <Action>(ReformatCode)
nmap <leader>cd <Action>(ActivateProblemsViewToolWindow)
nmap <leader>xl <Action>(ActivateProblemsViewToolWindow)
nmap <leader>xq <Action>(ActivateProblemsViewToolWindow)
nmap <leader>ca <Action>(ShowIntentionActions)
vmap <leader>ca <Action>(ShowIntentionActions)
nmap <leader>cA <Action>(RefactoringMenu)
vmap <leader>cA <Action>(RefactoringMenu)
nmap <leader>cr <Action>(RenameElement)
nmap <leader>cR <Action>(RenameFile)
nmap gd <Action>(GotoDeclaration)
nmap gD <Action>(GotoDeclaration)
nmap gr <Action>(FindUsages)
nmap gI <Action>(GotoImplementation)
nmap gy <Action>(GotoTypeDeclaration)
nmap gK <Action>(ParameterInfo)
nmap K <Action>(QuickJavaDoc)
nmap <C-o> <Action>(Back)
nmap <C-i> <Action>(Forward)
nmap ]d <Action>(GotoNextError)
nmap [d <Action>(GotoPreviousError)
nmap ]e <Action>(GotoNextError)
nmap [e <Action>(GotoPreviousError)
nmap ]w <Action>(GotoNextError)
nmap [w <Action>(GotoPreviousError)
nmap ]q <Action>(GotoNextError)
nmap [q <Action>(GotoPreviousError)
nmap ]] <Action>(GotoNextError)
nmap [[ <Action>(GotoPreviousError)
nmap <A-n> <Action>(GotoNextError)
nmap <A-p> <Action>(GotoPreviousError)

" Russian aliases for IdeaVim navigation commands.
nmap пв gd
nmap пВ gD
nmap пк gr
nmap пШ gI
nmap пн gy
nmap пЛ gK

" Comments.
nmap gco o<Esc>gcc
nmap gcO O<Esc>gcc

" Git.
nmap <leader>gg <Action>(ActivateCommitToolWindow)
nmap <leader>gG <Action>(ActivateCommitToolWindow)
nmap <leader>gb <Action>(Annotate)
nmap <leader>gB <Action>(Vcs.Show.Log)
nmap <leader>gc <Action>(Vcs.Show.Log)
nmap <leader>ge <Action>(ActivateVersionControlToolWindow)
nmap <leader>gf <Action>(Vcs.ShowTabbedFileHistory)
nmap <leader>gl <Action>(Vcs.Show.Log)
nmap <leader>gL <Action>(Vcs.Show.Log)
nmap <leader>gs <Action>(Vcs.Show.Log)
nmap <leader>ghr <Action>(Vcs.RollbackChangedLines)

" Toggles and UI.
nmap <leader>ud <Action>(ActivateProblemsViewToolWindow)
nmap <leader>uC <Action>(QuickChangeScheme)
nmap <leader>ub <Action>(QuickChangeScheme)
nmap <leader>ui <Action>(ActivateStructureToolWindow)
nmap <leader>uI <Action>(ActivateStructureToolWindow)
nmap <leader>snd <Action>(ClearAllNotifications)
nmap <leader>un <Action>(ClearAllNotifications)
nmap <leader>L <Action>(WhatsNewAction)
nmap <leader>l <Action>(WelcomeScreen.Plugins)
nmap <leader>qq <Action>(Exit)

" Terminal.
nmap <leader>ft <Action>(ActivateTerminalToolWindow)
nmap <leader>fT <Action>(ActivateTerminalToolWindow)
nmap <C-/> <Action>(ActivateTerminalToolWindow)

" Tests and debug.
nmap <leader>tl <Action>(Run)
nmap <leader>tr <Action>(RunClass)
nmap <leader>ts <Action>(ShowTestSummary)
nmap <leader>tS <Action>(Stop)
nmap <leader>tt <Action>(RunClass)
nmap <leader>tT <Action>(RunAllTests)
nmap <leader>tw <Action>(ToggleTestWatch)
nmap <leader>td <Action>(ChooseDebugConfiguration)
nmap <leader>da <Action>(ChooseRunConfiguration)
nmap <leader>db <Action>(ToggleLineBreakpoint)
nmap <leader>dB <Action>(AddConditionalBreakpoint)
nmap <leader>dc <Action>(Resume)
nmap <leader>dC <Action>(ForceRunToCursor)
nmap <leader>di <Action>(StepInto)
nmap <leader>dl <Action>(Debug)
nmap <leader>do <Action>(StepOut)
nmap <leader>dO <Action>(StepOver)
nmap <leader>dp <Action>(Pause)
nmap <leader>dt <Action>(Stop)
nmap <leader>de <Action>(EvaluateExpression)
vmap <leader>de <Action>(EvaluateExpression)
nmap <leader>du <Action>(ActivateDebugToolWindow)

" Flash.nvim-like motions through IdeaVim EasyMotion.
nmap s <Action>(AceAction)
xmap s <Action>(AceAction)
nmap S <Action>(AceLineAction)
xmap S <Action>(AceLineAction)
nmap ы <Action>(AceAction)
xmap ы <Action>(AceAction)
nmap Ы <Action>(AceLineAction)
xmap Ы <Action>(AceLineAction)

" LazyVim mappings without a useful RubyMine equivalent.
nmap <leader>cc :echo 'No RubyMine equivalent for LSP Info / Codelens.'<CR>
nmap <leader>cC :echo 'No RubyMine equivalent for Refresh Codelens.'<CR>
nmap <leader>uB :echo 'Auto-format is controlled by RubyMine settings.'<CR>
nmap <leader>uc :echo 'No RubyMine equivalent for conceallevel.'<CR>
nmap <leader>uh :echo 'Use RubyMine inlay hints settings.'<CR>
nmap <leader>uT :echo 'No RubyMine equivalent for Treesitter highlight.'<CR>
nmap <leader>sa :echo 'No RubyMine equivalent for autocmd list.'<CR>
nmap <leader>sR :echo 'No RubyMine equivalent for picker resume.'<CR>
nmap <leader>dg :echo 'No RubyMine equivalent for DAP go-to-line without execute.'<CR>
nmap <leader>dr :echo 'No RubyMine REPL mapping configured.'<CR>
nmap <leader>ds :echo 'Debug sessions are managed by RubyMine.'<CR>
nmap <leader>dw :echo 'No RubyMine equivalent for DAP widgets.'<CR>
nmap <leader>sT :echo 'Use Find in Path for TODO/FIXME groups.'<CR>
nmap <leader>xt :echo 'Use Problems or TODO tool windows in RubyMine.'<CR>
nmap <leader>xT :echo 'Use Problems or TODO tool windows in RubyMine.'<CR>
nmap <leader>to :echo 'Use the Run tool window for test output.'<CR>
nmap <leader>tO :echo 'Use the Run tool window for test output.'<CR>

" Russian keyboard aliases for IdeaVim leader mappings. langmap handles plain
" Vim motions, but explicit aliases make multi-key IdeaVim mappings predictable.
nmap <leader>аа <leader>ff
nmap <leader>аА <leader>fF
nmap <leader>ап <leader>fg
nmap <leader>ак <leader>fr
nmap <leader>аК <leader>fR
nmap <leader>аи <leader>fb
nmap <leader>ат <leader>fn
nmap <leader>ас <leader>fc
nmap <leader>ая <leader>fz
nmap <leader>у <leader>e
nmap <leader>У <leader>E
nmap <leader>ау <leader>fe
nmap <leader>аУ <leader>fE
nmap <leader>ии <leader>bb
nmap <leader>ив <leader>bd
nmap <leader>иВ <leader>bD
nmap <leader>ищ <leader>bo
nmap <leader>ид <leader>bl
nmap <leader>из <leader>bp
nmap <leader>иЗ <leader>bP
nmap <leader>ик <leader>br
nmap <leader>иу <leader>be
nmap <leader>са <leader>cf
nmap <leader>св <leader>cd
nmap <leader>сф <leader>ca
nmap <leader>сФ <leader>cA
nmap <leader>ск <leader>cr
nmap <leader>сК <leader>cR
nmap <leader>пп <leader>gg
nmap <leader>пП <leader>gG
nmap <leader>пи <leader>gb
nmap <leader>пИ <leader>gB
nmap <leader>пс <leader>gc
nmap <leader>пу <leader>ge
nmap <leader>па <leader>gf
nmap <leader>пд <leader>gl
nmap <leader>пД <leader>gL
nmap <leader>пы <leader>gs
nmap <leader>гы <leader>us
nmap <leader>гц <leader>uw
nmap <leader>гД <leader>uL
nmap <leader>гд <leader>ul
nmap <leader>гв <leader>ud
nmap <leader>гС <leader>uC
nmap <leader>ги <leader>ub
nmap <leader>гш <leader>ui
nmap <leader>гШ <leader>uI
nmap <leader>ае <leader>ft
nmap <leader>аЕ <leader>fT
nmap <leader>ед <leader>tl
nmap <leader>ек <leader>tr
nmap <leader>еы <leader>ts
nmap <leader>еЫ <leader>tS
nmap <leader>ее <leader>tt
nmap <leader>еЕ <leader>tT
nmap <leader>ец <leader>tw
nmap <leader>ев <leader>td
nmap <leader>вф <leader>da
nmap <leader>ви <leader>db
nmap <leader>вИ <leader>dB
nmap <leader>вс <leader>dc
nmap <leader>вС <leader>dC
nmap <leader>вш <leader>di
nmap <leader>вд <leader>dl
nmap <leader>вщ <leader>do
nmap <leader>вЩ <leader>dO
nmap <leader>вз <leader>dp
nmap <leader>ве <leader>dt
nmap <leader>ву <leader>de
nmap <leader>вг <leader>du
nmap <leader>ыл <leader>sk
nmap <leader>ыы <leader>ss
nmap <leader>ыЫ <leader>sS
nmap <leader>ыц <leader>sw
nmap <leader>ыЦ <leader>sW
nmap <leader>ыС <leader>sC
nmap <leader>ыв <leader>sd
nmap <leader>ыВ <leader>sD
nmap <leader>ып <leader>sg
nmap <leader>ыП <leader>sG
nmap <leader>ыр <leader>sh
nmap <leader>ыР <leader>sH
nmap <leader>ыо <leader>sj
nmap <leader>ыд <leader>sl
nmap <leader>ыь <leader>sm
nmap <leader>ыЬ <leader>sM
nmap <leader>ыщ <leader>so
nmap <leader>ый <leader>sq
nmap <leader>ые <leader>st
vmap <leader>са <leader>cf
vmap <leader>сф <leader>ca
vmap <leader>сФ <leader>cA
vmap <leader>ыц <leader>sw
vmap <leader>ыЦ <leader>sW
vmap <leader>ву <leader>de
