" IdeaVim configuration for JetBrains IDEs.
" Generic Vim behavior lives in ~/.vimrc; this file only contains RubyMine /
" IdeaVim-specific plugins, actions, tool windows, and compatibility aliases.

source ~/.vimrc

" IdeaVim plugins.
set commentary
let g:WhichKeyDesc_comment = "gc +Toggle Comment"
let g:WhichKeyDesc_comment_line = "gcc Toggle Comment Line"
let g:WhichKeyDesc_comment_below = "gco Add Comment Below"

set surround

set easymotion
let g:EasyMotion_do_mapping = 0
let g:WhichKeyDesc_easymotion = "s Flash"
nmap s <Plug>(easymotion-s)
xmap s <Plug>(easymotion-s)
omap s <Plug>(easymotion-s)

set ideajoin
set matchit
set targets

set highlightedyank
let g:highlightedyank_highlight_duration = "200"

set NERDTree
let g:NERDTreeMapActivateNode = "l"
let g:NERDTreeMapNewFile = "a"
let g:NERDTreeMapNewDir = "A"
let g:NERDTreeMapOpenSplit = "S"
let g:NERDTreeMapPreviewSplit = "gS"
let g:NERDTreeMapOpenVSplit = "s"
let g:NERDTreeMapPreviewVSplit = "gs"
let g:NERDTreeMapCloseDir = "h"
let g:NERDTreeMapCloseChildren = "z"

set which-key
set notimeout

set keep-english-in-normal
set VimEverywhere

" IdeaVim / JetBrains behavior.
set clipboard+=unnamed
set clipboard+=ideaput

map <C-s> <Action>(SaveDocument)

" Insert-mode JetBrains completion.
imap <C-n> <Action>(CodeCompletion)

" Window sizing.
nmap <C-Up> <Action>(IncrementWindowHeight)
nmap <C-Down> <Action>(DecrementWindowHeight)
nmap <C-Left> <Action>(DecrementWindowWidth)
nmap <C-Right> <Action>(IncrementWindowWidth)

let g:WhichKeyDesc_split_below = "<leader>- Split Window Below"
nmap <leader>- <c-w>s

let g:WhichKeyDesc_split_right = "<leader>| Split Window Right"
nmap <leader><bar> <c-w>v

let g:WhichKeyDesc_window_delete = "<leader>wd Delete Window"
nmap <leader>wd <Action>(CloseContent)

let g:WhichKeyDesc_window_maximize = "<leader>wm Toggle Zoom Mode"
nmap <leader>wm <Action>(ToggleDistractionFreeMode)

nmap <C-z> <Action>(ToggleDistractionFreeMode)

" Moving lines.
nmap <A-j> <Action>(MoveLineDown)
nmap <A-k> <Action>(MoveLineUp)
imap <A-j> <Esc><Action>(MoveLineDown)i
imap <A-k> <Esc><Action>(MoveLineUp)i

" Editor tabs and buffers.
let g:WhichKeyDesc_buffer_prev = "<S-h> Prev Buffer"
nmap <S-h> <Action>(PreviousTab)

let g:WhichKeyDesc_buffer_next = "<S-l> Next Buffer"
nmap <S-l> <Action>(NextTab)

nmap [b <Action>(PreviousTab)
nmap ]b <Action>(NextTab)

nmap <leader>bd <Action>(CloseContent)
nmap <leader>bD <Action>(CloseContent)
nmap <leader>bo <Action>(CloseAllEditorsButActive)
nmap <leader>bl <Action>(CloseAllToTheLeft)
nmap <leader>bp <Action>(PinActiveTabToggle)
nmap <leader>bP <Action>(CloseAllUnpinnedEditors)
nmap <leader>br <Action>(CloseAllToTheRight)
nmap <leader>be <Action>(ActivateProjectToolWindow)
nmap <leader>, <Action>(Switcher)

" Files, project, and search. These correspond to LazyVim picker groups.
nmap <leader><Space> <Action>(GotoFile)
nmap <leader>ff <Action>(GotoFile)
nmap <leader>fF <Action>(GotoFile)
nmap <leader>fg <Action>(GotoFile)
nmap <leader>fr <Action>(RecentFiles)
nmap <leader>fR <Action>(RecentFiles)
nmap <leader>fb <Action>(Switcher)
nmap <leader>fn <Action>(NewElementSamePlace)
nmap <leader>fc <Action>(FindWordAtCaret)
nmap <leader>fz <Action>(FindInPath)
nmap <leader>/ <Action>(FindInPath)

let g:WhichKeyDesc_explorer = "<leader>e Explorer NeoTree (Root Dir)"
nmap <leader>e <Action>(ActivateProjectToolWindow)

let g:WhichKeyDesc_explorer_cwd = "<leader>E Explorer NeoTree (cwd)"
nmap <leader>e <Action>(SelectInProjectView)

nmap <leader>fe <Action>(ActivateProjectToolWindow)
nmap <leader>fE <Action>(SelectInProjectView)

" Search group.
let g:WhichKeyDesc_search_buffer = "<leader>sb Buffer Lines"
nmap <leader>sb <Action>(Switcher)

let g:WhichKeyDesc_search_command_history = "<leader>sc Command History"
nmap <leader>sc :history<cr>

let g:WhichKeyDesc_search_commands = "<leader>sC Commands"
nmap <leader>sC <Action>(GotoAction)

let g:WhichKeyDesc_search_diagnostics = "<leader>sd Diagnostics"
nmap <leader>sd <Action>(ActivateProblemsViewToolWindow)

let g:WhichKeyDesc_search_diagnostics_workspace = "<leader>sD Workspace Diagnostics"
nmap <leader>sD <Action>(ActivateProblemsViewToolWindow)

let g:WhichKeyDesc_search_grep = "<leader>sg Grep (Root Dir)"
nmap <leader>sg <Action>(FindInPath)

let g:WhichKeyDesc_search_grep_cwd = "<leader>sG Grep (cwd)"
nmap <leader>sG <Action>(FindInPath)

let g:WhichKeyDesc_search_help = "<leader>sh Help Pages"
nmap <leader>sh <Action>(HelpTopics)

let g:WhichKeyDesc_search_highlights = "<leader>sH Highlights"
nmap <leader>sH <Action>(HighlightUsagesInFile)

let g:WhichKeyDesc_search_jumps = "<leader>sj Jumps"
nmap <leader>sj <Action>(RecentLocations)

let g:WhichKeyDesc_search_location_list = "<leader>sl Location List"
nmap <leader>sl <Action>(ActivateProblemsViewToolWindow)

let g:WhichKeyDesc_search_marks = "<leader>sm Marks"
nmap <leader>sm :marks<cr>

let g:WhichKeyDesc_search_man = "<leader>sM Man Pages"
nmap <leader>sM <Action>(ShowDocumentation)

let g:WhichKeyDesc_search_options = "<leader>so Options"
nmap <leader>so <Action>(ShowSettings)

let g:WhichKeyDesc_search_quickfix = "<leader>sq Quickfix List"
nmap <leader>sq <Action>(ActivateProblemsViewToolWindow)

let g:WhichKeyDesc_search_notifications = "<leader>sn +notifications"
let g:WhichKeyDesc_search_notifications_all = "<leader>sna All"
nmap <leader>sna <Action>(ActivateNotificationsToolWindow)

let g:WhichKeyDesc_search_notifications_history = "<leader>snh History"
nmap <leader>snh <Action>(ActivateNotificationsToolWindow)

let g:WhichKeyDesc_search_resume = "<leader>sR Resume"
nmap <leader>sR <Action>(FindInPath)

let g:WhichKeyDesc_search_symbol = "<leader>ss Goto Symbol"
nmap <leader>ss <Action>(GotoSymbol)

let g:WhichKeyDesc_search_symbol_workspace = "<leader>sS Goto Symbol (Workspace)"
nmap <leader>sS <Action>(GotoSymbol)

let g:WhichKeyDesc_search_word = "<leader>sw Visual selection or word (Root Dir)"
nmap <leader>sw mzviw<Action>(FindInPath)<esc>`z
vmap <leader>sw <Action>(FindInPath)

let g:WhichKeyDesc_search_word_cwd = "<leader>sW Visual selection or word (cwd)"
nmap <leader>sW mzviw<Action>(FindInPath)<esc>`z

let g:WhichKeyDesc_search_todo = "<leader>st Todo"
nmap <leader>st <Action>(ActivateTODOToolWindow)

let g:WhichKeyDesc_search_todo_fixme = "<leader>sT Todo/Fix/Fixme"
nmap <leader>sT <Action>(ActivateTODOToolWindow)

" Code actions, formatting, diagnostics, and navigation.
let g:WhichKeyDesc_format = "<leader>cf Format"
nmap <leader>cf <Action>(ReformatCode)
vmap <leader>cf <Action>(ReformatCode)

let g:WhichKeyDesc_diagnostics_line = "<leader>cd Line Diagnostics"
nmap <leader>cd <Action>(ActivateProblemsViewToolWindow)

nmap <leader>xl <Action>(ActivateProblemsViewToolWindow)
nmap <leader>xq <Action>(ActivateProblemsViewToolWindow)

let g:WhichKeyDesc_code_action = "<leader>ca Code Action"
nmap <leader>ca <Action>(ShowIntentionActions)
vmap <leader>ca <Action>(ShowIntentionActions)
nmap <leader>cA <Action>(RefactoringMenu)
vmap <leader>cA <Action>(RefactoringMenu)

let g:WhichKeyDesc_rename = "<leader>cr Rename"
nmap <leader>cr <Action>(RenameElement)

let g:WhichKeyDesc_rename_file = "<leader>cR Rename File"
nmap <leader>cR <Action>(RenameFile)
let g:WhichKeyDesc_goto_definition = "gd Goto Definition"
nmap gd <Action>(GotoDeclaration)

let g:WhichKeyDesc_goto_declaration = "gD Goto Declaration"
nmap gD <Action>(GotoDeclaration)

let g:WhichKeyDesc_references = "gr References"
nmap gr <Action>(FindUsages)

let g:WhichKeyDesc_goto_implementation = "gI Goto Implementation"
nmap gI <Action>(GotoImplementation)

let g:WhichKeyDesc_goto_type = "gy Goto T[y]pe Definition"
nmap gy <Action>(GotoTypeDeclaration)

let g:WhichKeyDesc_signature_help = "gK Signature Help"
nmap gK <Action>(ParameterInfo)

nmap K <Action>(QuickJavaDoc)
nmap <C-o> <Action>(Back)
nmap <C-i> <Action>(Forward)
nmap ]d <Action>(GotoNextError)
nmap [d <Action>(GotoPreviousError)

let g:WhichKeyDesc_error_next = "]e Next Error"
nmap ]e <Action>(GotoNextError)

let g:WhichKeyDesc_error_prev = "[e Prev Error"
nmap [e <Action>(GotoPreviousError)

let g:WhichKeyDesc_warning_next = "]w Next Warning"
nmap ]w <Action>(GotoNextError)

let g:WhichKeyDesc_warning_prev = "[w Prev Warning"
nmap [w <Action>(GotoPreviousError)

let g:WhichKeyDesc_todo_prev = "[t Previous Todo Comment"
nmap [t ?\(TODO\|FIX\|HACK\|WARN\|PERF\|NOTE\|TEST\):<cr>

let g:WhichKeyDesc_todo_next = "]t Next Todo Comment"
nmap ]t /\(TODO\|FIX\|HACK\|WARN\|PERF\|NOTE\|TEST\):<cr>

let g:WhichKeyDesc_escape_clear = "<esc> Escape and Clear hlsearch"
nmap <esc> :nohlsearch<CR>

let g:WhichKeyDesc_terminal_ctrl = "<C-/> Terminal (Root Dir)"
nmap <C-/> <Action>(ActivateTerminalToolWindow)

let g:WhichKeyDesc_quickfix_prev = "]q Next Quickfix"
nmap ]q <Action>(GotoNextError)

let g:WhichKeyDesc_quickfix_prev = "[q Previous Quickfix"
nmap [q <Action>(GotoPreviousError)

let g:WhichKeyDesc_terminal_ctrl = "]h Next hunk"
nmap ]h <Action>(VcsShowNextChangeMarker)

let g:WhichKeyDesc_terminal_ctrl = "[h Prev hunk"
nmap [h <Action>(VcsShowPrevChangeMarker)

let g:WhichKeyDesc_reference_next = "]] Next Reference"
nmap ]] <Action>(GotoNextElementUnderCaretUsage)

let g:WhichKeyDesc_reference_prev = "[[ Prev Reference"
nmap [[ <Action>(GotoPreviousError)

let g:WhichKeyDesc_reference_next_alt = "<A-n> Next Reference"
nmap <a-n> <Action>(GotoNextElementUnderCaretUsage)

let g:WhichKeyDesc_reference_prev_alt = "<A-p> Prev Reference"
nmap <a-p> <Action>(GotoPrevElementUnderCaretUsage)

" Russian aliases for IdeaVim navigation commands.
nmap пв gd
nmap пВ gD
nmap пк gr
nmap пШ gI
nmap пн gy
nmap пЛ gK

" Comments.
nmap gco o<Esc>gcc
nmap gcO O<Esc>gcc

" Git.
let g:WhichKeyDesc_git_ui = "<leader>gg GitUi (Root Dir)"
if exists('g:loaded_lazygit')
    nmap <leader>gg <Action>(Lazygit.Toggle)
else
    nmap <leader>gg <Action>(ActivateCommitToolWindow)
endif

let g:WhichKeyDesc_git_ui_cwd = "<leader>gG GitUi (cwd)"
if exists('g:loaded_lazygit')
    nmap <leader>gG <Action>(Lazygit.ToggleCurrentDir)
else
    nmap <leader>gG <Action>(ActivateCommitToolWindow)
endif

let g:WhichKeyDesc_git_blame = "<leader>gb Git Blame Line"
nmap <leader>gb <Action>(Annotate)

let g:WhichKeyDesc_git_browse = "<leader>gB Git Browse (open)"
nmap <leader>gB <Action>(Vcs.Show.Log)

let g:WhichKeyDesc_git_file_history = "<leader>gf Git File History"
nmap <leader>gf <Action>(Vcs.ShowTabbedFileHistory)

let g:WhichKeyDesc_git_log = "<leader>gl Git Log"
nmap <leader>gl <Action>(Vcs.Show.Log)

let g:WhichKeyDesc_git_log_cwd = "<leader>gL Git Log (cwd)"
nmap <leader>gL <Action>(Vcs.Show.Log)

let g:WhichKeyDesc_git_commits = "<leader>gc Git Log"
nmap <leader>gc <Action>(Vcs.Show.Log)

let g:WhichKeyDesc_git_status = "<leader>gs Git Status"
nmap <leader>gs <Action>(Vcs.Show.Log)

let g:WhichKeyDesc_git_explorer = "<leader>ge Git Explorer"
nmap <leader>ge <Action>(ActivateVersionControlToolWindow)

let g:WhichKeyDesc_git_explorer = "<leader>ghr Rollback under cursor"
nmap <leader>ghr <Action>(Vcs.RollbackChangedLines)

let g:WhichKeyDesc_git_explorer = "<leader>gy Copy URL in GitHub"
nmap <leader>gy <Action>(GitHub.Copy.Link)
vmap <leader>gy <Action>(GitHub.Copy.Link)

let g:WhichKeyDesc_git_explorer = "<leader>gb Open in GitHub"
nmap <leader>gb <Action>(Github.Open.In.Browser)
vmap <leader>gb <Action>(Github.Open.In.Browser)

""" Old
"nmap <leader>gg <Action>(ActivateCommitToolWindow)
"nmap <leader>gG <Action>(ActivateCommitToolWindow)
"nmap <leader>gb <Action>(Annotate)
"nmap <leader>gB <Action>(Vcs.Show.Log)
"nmap <leader>gc <Action>(Vcs.Show.Log)
"nmap <leader>ge <Action>(ActivateVersionControlToolWindow)
"nmap <leader>gf <Action>(Vcs.ShowTabbedFileHistory)
"nmap <leader>gl <Action>(Vcs.Show.Log)
"nmap <leader>gL <Action>(Vcs.Show.Log)
"nmap <leader>gs <Action>(Vcs.Show.Log)

"""

" Toggles and UI.
nmap <leader>ud <Action>(ActivateProblemsViewToolWindow)

let g:WhichKeyDesc_ui_colorscheme = "<leader>uC Colorschemes"
nmap <leader>uC <Action>(QuickChangeScheme)

let g:WhichKeyDesc_ui_inlay_hints = "<leader>uh Toggle Inlay Hints"
nmap <leader>uh <Action>(ToggleInlayHintsGloballyAction)

nmap <leader>ub <Action>(QuickChangeScheme)
nmap <leader>ui <Action>(ActivateStructureToolWindow)
nmap <leader>uI <Action>(ActivateStructureToolWindow)
nmap <leader>snd <Action>(ClearAllNotifications)

let g:WhichKeyDesc_ui_notifications = "<leader>un Dismiss All Notifications"
nmap <leader>un <Action>(ClearAllNotifications)

let g:WhichKeyDesc_ui_spelling = "<leader>us Toggle Spelling"
nmap <leader>us :setlocal spell!<CR>

let g:WhichKeyDesc_ui_wrap = "<leader>uw Toggle Wrap"
nmap <leader>uw :setlocal wrap!<CR>

nmap <leader>L <Action>(WhatsNewAction)
nmap <leader>l <Action>(WelcomeScreen.Plugins)
nmap <leader>qq <Action>(Exit)

" Terminal.
nmap <leader>ft <Action>(ActivateTerminalToolWindow)
nmap <leader>fT <Action>(ActivateTerminalToolWindow)
nmap <C-/> <Action>(ActivateTerminalToolWindow)

" Tests and debug.
let g:WhichKeyDesc_test_last = "<leader>tl Run Last (Neotest)"
nmap <leader>tl <Action>(Run)
if g:is_ide_rider | nmap <leader>tl <Action>(RiderUnitTestRunCurrentSessionAction) | endif

let g:WhichKeyDesc_test_output = "<leader>to Show Output (Neotest)"
nmap <leader>to <Action>(ActivateRunToolWindow)
if g:is_ide_rider | nmap <leader>to <Action>(ActivateUnitTestsToolWindow) | endif

let g:WhichKeyDesc_test_output_panel = "<leader>tO Toggle Output Panel (Neotest)"
nmap <leader>tO <Action>(ActivateRunToolWindow)
if g:is_ide_rider | nmap <leader>tO <Action>(ActivateUnitTestsToolWindow) | endif

nmap <leader>tr <Action>(RunClass)
if g:is_ide_rider | nmap <leader>tr <Action>(RiderUnitTestRunContextAction) | endif

let g:WhichKeyDesc_test_summary = "<leader>ts Toggle Summary (Neotest)"
nmap <leader>ts <Action>(ShowTestSummary)

let g:WhichKeyDesc_test_stop = "<leader>tS Stop (Neotest)"
nmap <leader>tS <Action>(Stop)

let g:WhichKeyDesc_test_file = "<leader>tt Run File (Neotest)"
nmap <leader>tt <Action>(RunClass)
if g:is_ide_rider | nmap <leader>tt <Action>(RiderUnitTestRunContextAction) | endif

let g:WhichKeyDesc_test_all = "<leader>tT Run All Test Files (Neotest)"
nmap <leader>tT <Action>(RunAllTests)
if g:is_ide_rider | nmap <leader>tT <Action>(RiderUnitTestRunSolutionAction) | endif

let g:WhichKeyDesc_test_watch = "<leader>tw Toggle Watch (Neotest)"
nmap <leader>tw <Action>(ToggleTestWatch)

let g:WhichKeyDesc_test_debug = "<leader>td Debug Nearest"
nmap <leader>td <Action>(ChooseDebugConfiguration)
if g:is_ide_rider | nmap <leader>td <Action>(RiderUnitTestDebugContextAction) | endif

nmap <leader>da <Action>(ChooseRunConfiguration)
nmap <leader>db <Action>(ToggleLineBreakpoint)
nmap <leader>dB <Action>(AddConditionalBreakpoint)
nmap <leader>dc <Action>(Resume)
nmap <leader>dC <Action>(ForceRunToCursor)
nmap <leader>di <Action>(StepInto)
nmap <leader>dl <Action>(Debug)
nmap <leader>do <Action>(StepOut)
nmap <leader>dO <Action>(StepOver)
nmap <leader>dp <Action>(Pause)
nmap <leader>dt <Action>(Stop)
nmap <leader>de <Action>(EvaluateExpression)
vmap <leader>de <Action>(EvaluateExpression)
nmap <leader>du <Action>(ActivateDebugToolWindow)

" LazyVim mappings without a useful RubyMine equivalent.
nmap <leader>cc :echo 'No RubyMine equivalent for LSP Info / Codelens.'<CR>
nmap <leader>cC :echo 'No RubyMine equivalent for Refresh Codelens.'<CR>
nmap <leader>uB :echo 'Auto-format is controlled by RubyMine settings.'<CR>
nmap <leader>uc :echo 'No RubyMine equivalent for conceallevel.'<CR>
nmap <leader>uh :echo 'Use RubyMine inlay hints settings.'<CR>
nmap <leader>uT :echo 'No RubyMine equivalent for Treesitter highlight.'<CR>
nmap <leader>sa :echo 'No RubyMine equivalent for autocmd list.'<CR>
nmap <leader>dg :echo 'No RubyMine equivalent for DAP go-to-line without execute.'<CR>
nmap <leader>dr :echo 'No RubyMine REPL mapping configured.'<CR>
nmap <leader>ds :echo 'Debug sessions are managed by RubyMine.'<CR>
nmap <leader>dw :echo 'No RubyMine equivalent for DAP widgets.'<CR>
nmap <leader>xt :echo 'Use Problems or TODO tool windows in RubyMine.'<CR>
nmap <leader>xT :echo 'Use Problems or TODO tool windows in RubyMine.'<CR>
nmap <leader>to :echo 'Use the Run tool window for test output.'<CR>
nmap <leader>tO :echo 'Use the Run tool window for test output.'<CR>

" Russian keyboard aliases for IdeaVim leader mappings. langmap handles plain
" Vim motions, but explicit aliases make multi-key IdeaVim mappings predictable.
nmap <leader>аа <leader>ff
nmap <leader>аА <leader>fF
nmap <leader>ап <leader>fg
nmap <leader>ак <leader>fr
nmap <leader>аК <leader>fR
nmap <leader>аи <leader>fb
nmap <leader>ат <leader>fn
nmap <leader>ас <leader>fc
nmap <leader>ая <leader>fz
nmap <leader>у <leader>e
nmap <leader>У <leader>E
nmap <leader>ау <leader>fe
nmap <leader>аУ <leader>fE
nmap <leader>ии <leader>bb
nmap <leader>ив <leader>bd
nmap <leader>иВ <leader>bD
nmap <leader>ищ <leader>bo
nmap <leader>ид <leader>bl
nmap <leader>из <leader>bp
nmap <leader>иЗ <leader>bP
nmap <leader>ик <leader>br
nmap <leader>иу <leader>be
nmap <leader>са <leader>cf
nmap <leader>св <leader>cd
nmap <leader>сф <leader>ca
nmap <leader>сФ <leader>cA
nmap <leader>ск <leader>cr
nmap <leader>сК <leader>cR
nmap <leader>пп <leader>gg
nmap <leader>пП <leader>gG
nmap <leader>пи <leader>gb
nmap <leader>пИ <leader>gB
nmap <leader>пс <leader>gc
nmap <leader>пу <leader>ge
nmap <leader>па <leader>gf
nmap <leader>пд <leader>gl
nmap <leader>пД <leader>gL
nmap <leader>пы <leader>gs
nmap <leader>гы <leader>us
nmap <leader>гц <leader>uw
nmap <leader>гД <leader>uL
nmap <leader>гд <leader>ul
nmap <leader>гв <leader>ud
nmap <leader>гС <leader>uC
nmap <leader>ги <leader>ub
nmap <leader>гш <leader>ui
nmap <leader>гШ <leader>uI
nmap <leader>ае <leader>ft
nmap <leader>аЕ <leader>fT
nmap <leader>ед <leader>tl
nmap <leader>ек <leader>tr
nmap <leader>еы <leader>ts
nmap <leader>еЫ <leader>tS
nmap <leader>ее <leader>tt
nmap <leader>еЕ <leader>tT
nmap <leader>ец <leader>tw
nmap <leader>ев <leader>td
nmap <leader>вф <leader>da
nmap <leader>ви <leader>db
nmap <leader>вИ <leader>dB
nmap <leader>вс <leader>dc
nmap <leader>вС <leader>dC
nmap <leader>вш <leader>di
nmap <leader>вд <leader>dl
nmap <leader>вщ <leader>do
nmap <leader>вЩ <leader>dO
nmap <leader>вз <leader>dp
nmap <leader>ве <leader>dt
nmap <leader>ву <leader>de
nmap <leader>вг <leader>du
nmap <leader>ыл <leader>sk
nmap <leader>ыы <leader>ss
nmap <leader>ыЫ <leader>sS
nmap <leader>ыц <leader>sw
nmap <leader>ыЦ <leader>sW
nmap <leader>ыС <leader>sC
nmap <leader>ыв <leader>sd
nmap <leader>ыВ <leader>sD
nmap <leader>ып <leader>sg
nmap <leader>ыП <leader>sG
nmap <leader>ыр <leader>sh
nmap <leader>ыР <leader>sH
nmap <leader>ыо <leader>sj
nmap <leader>ыд <leader>sl
nmap <leader>ыь <leader>sm
nmap <leader>ыЬ <leader>sM
nmap <leader>ыщ <leader>so
nmap <leader>ый <leader>sq
nmap <leader>ые <leader>st
vmap <leader>са <leader>cf
vmap <leader>сф <leader>ca
vmap <leader>сФ <leader>cA
vmap <leader>ыц <leader>sw
vmap <leader>ыЦ <leader>sW
vmap <leader>ву <leader>de
